* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #ff7675;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: #fff;
  max-width: 960px;
  width: 96%;
 
  border-radius: 1rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  /* border: solid blue 4px; */
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* navigaton arrows */
header .calendar-navigation span {
  user-select: none;
  color: #aeabab;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 1rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 2rem;
}

.calendar-body {
  display: flex;  
  padding: 50px;
  height: 70%;
  flex-direction: column;
 
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  align-content: space-around;
}

/* days in month body container */
.calendar-body .calendar-dates {
  /* height: 100%; */
  display: flex;
  /* gap: 1px; */
}

/* each day */
.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.7rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid blue; */
}

/* event number design */
.day-has-event {
  color: white;
  font-size: 1.15rem;
  margin-top: 1rem;
  background-color: #8b5cf6;
  border-radius: 30%;
  width: 1.75rem;
  height: 1.75rem;
  font-weight: bold;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  /* margin-top: 30px; */
  position: relative;
  z-index: 1;
  cursor: pointer;
  /* border: 3px solid blue; */
}

.calendar-dates li.inactive {
  color: #aaa;
}

/* current day date */
.calendar-dates li.active {
  border-radius: 1rem;
  color: #6332c5;
  font-weight: bold;

}

/* .calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  transform: translate(-50%, -50%);

} */

/* highlights todays date */
.calendar-dates li.active::before {
  /* background-color: #f9f9f9;
  z-index: 0; */
  
}

/* hover effect over day */
.calendar-dates li:hover::before {
    background: #6332c5;
    /* transition: 5000ms; */
  
}

.specific-day-li-el {
  padding: 1rem 0;
  height: 5.5rem;
  /* transition: 250ms all; */
}
.specific-day-li-el:hover{
   background-color: #6332c5;
   border-radius: 1rem;
   color: white !important;
   font-weight: bold;
  

}

.selected-day {
   
    /* Additional styling as needed */
    font-weight: bold !important;
    background-color: #6332c5;
    border-radius: 1rem;    
    color: white !important;
}

/* color: #6332c5; */